* { color-adjust: exact;  -webkit-print-color-adjust: exact; print-color-adjust: exact; }

.panel-body table table div {
    display: block !important;
}

.panel-collapse.collapse {
    display: block !important;
}

#billing_identifiers_container,
#top_navigation_bar,
.quick-nav-panel,
#actionscontainer,
#toplogocontainer,
#plus-minus-notes-collapse,
#menu_location_div,
.panel-heading .editabletxt,
.panel-body .fa,
#report_handle > .col-md-12:nth-child(4) .col-md-3,
#edit_image_dialog_outer + .row,
.panel-body table table div.criminal-details-show-hide-next,
.panel-body table table div.criminal-details-index-links {
    display: none !important;
}

.overflow-x-scroll {
    overflow-x: hidden !important;
}

#report_handle > .col-md-12:nth-child(4) .col-md-9 {
    width: 100%;
}

.panel {
    border-radius: 0 !important;
    border: none !important;
}

.panel-heading {
    padding: 1px 10px !important;
    background: transparent !important;
    color: #000000 !important;
    background: #eee !important;
    border-bottom: 1px solid #eee !important;
}

.panel-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.black10 + .row {
    margin-top: 20px;
}

.panel-body .order-info-header-row > div,
.panel-body .order-info-header-row ~ .row > div {
    width: 25% !important;
    display: block !important;
    word-break: break-all;
    float: left !important;
}

.panel-body .order-info-header-row > div:nth-child(2),
.panel-body .order-info-header-row ~ .row > div:nth-child(2) {
    width: 50% !important;
}

.panel-body .order-info-header-row > div:first-child,
.panel-body .order-info-header-row ~ .row > div:first-child {
    display: none !important;
}


#report_handle .headertd,
#report_handle > .col-md-9,
#report_handle > .col-md-9 > .row > .col-md-7,
#report_handle > .col-md-9 > .row > div > .col-md-5 {
    width: 100% !important;
}


.print-page-break-always {
    page-break-before: always;
}

.print-table-border {
    width: 100% !important;
    clear: both;
}

.print-table-no-border {
    width: auto !important;
    clear: both;
}
.print-table-no-border td,
.print-table-no-border th {
    width: auto !important;
    text-align: left;
}

.print-table-border td,
.print-table-border th {
    width: auto !important;
    max-width: 100%;
    text-align: left;
    padding: 4px 10px !important;
    border: 1px solid #eee !important;
}

tr.print-no-border td {
    border: 0 !important;
}

.print-no-padding {
    padding: 0 !important;
}


.link_encapsulator a:after {
    font-size: 70% !important;
    display: block;
}